html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: #ecf4fb;
}

.img-gallery {
  width: 80%;
  margin: 10rem auto 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
}
.img-gallery img {
  width: 100%;
}

.img-gallery img:hover {
  transform: scale(0.8) rotate(-10deg);
  border-radius: 2rem;
}
